.column-set {
  display: flex;
  flex-wrap: wrap;
  font-size: .8rem;
  height: 100%;
  overflow: auto;
}

.text-item {
  width: 14rem;
  margin: .5rem 1rem;
}

.text-show-item {
  width: 24rem;
  margin: .5rem 1rem;
}

.text-item-title {
  width: 5rem;
  margin-right: .5rem;
}

.text-item-val {
  margin-left: .5rem;

  .component-btn {
    cursor: pointer;
    margin-left: .5rem;
  }
}

.input {
  width: 8rem;
  height: 25px;
  margin-left: .5rem;
}