.sell_off {
    padding: 50px 0;
    .sell_left {
        background: url('../images/bb1.jpg') 0 0 no-repeat;
        background-size: cover;
        min-height: 500px;
        transition: all 1s;
        width: 100%;
        h3 {
            padding-top: 41%;
            color: #fff;
            font-size: 40px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
        }
        h4 {
            color: #fff;
            font-size: 20px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            letter-spacing: 1px;
            span {
                font-size: 50px;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }
    .sell_left:hover {
        transform: scale3d(1.1, 1.1, 1);
    }
    .sell_middle_top {
        background: url('../images/bb2.jpg') 0 0 no-repeat;
        background-size: cover;
        min-height: 230px;
        transition: all 1s;
        width: 100%;
        h3 {
            color: #fff;
            font-size: 40px;
            padding-top: 22%;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
        }
        h4 {
            color: #fff;
            font-size: 20px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            letter-spacing: 1px;
            span {
                font-size: 50px;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }
    .sell_middle_top:hover {
        transform: scale3d(1.1, 1.1, 1);
    }
    .sell_middle_bottom {
        background: url('../images/bb3.jpg') no-repeat 0px 0px;
        background-size: cover;
        min-height: 235px;
        margin-top: 30px;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        width: 100%;
        h3 {
            color: #fff;
            font-size: 40px;
            padding-top: 22%;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
        }
        h4 {
            color: #fff;
            font-size: 20px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            letter-spacing: 1px;
            span {
                font-size: 50px;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }
    .sell_middle_bottom:hover {
        transform: scale3d(1.1, 1.1, 1);
    }
    
}